html {
  background-color: black;
  text-align: center;
  color: white;
  font-family: Verdana;
}

.headline {
  font-weight: normal;
  font-size: 50px;
}

.declaration {
  font-weight: 300;
  font-size: 40px;
}

.link {
  color: aquamarine;
  font-size: 16px;
}

.subtext {
  color: gray;
  font-size: 21px;
  font-weight: normal;
}

.footer {
  text-align: right;
}
